<% include layout/head %>

<h1>Tags</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Client</td>
      <td>User</td>
      <td>Time</td>
      <td>Station</td>
      <td>Title</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
  <% tags.forEach(function(tag) { %>
    <tr>
      <td><%= tag.client %></td>
      <td><%= tag.user %></td>
      <td><%= tag.time %></td>
      <td><%= tag.station %></td>
      <td><%= tag.title %></td>
      <td><%= tag.description %></td>
    </tr>
  <% }); %>
  </tbody>
</table>

<% include layout/foot %>
